*.pyc
__pycache__
patches/hdf5/kumar/*
patches/hdf5/consep/*
patches/hdf5/pannuke/*
patches/npy/kumar/*
patches/npy/consep/*
patches/npy/pannuke/*
datasets/nucleisegmentation_kumar/test/*
datasets/nucleisegmentation_kumar/train/*
datasets/nucleisegmentation_consep/test/*
datasets/nucleisegmentation_consep/train/*
datasets/nucleisegmentation_pannuke/test/*
datasets/nucleisegmentation_pannuke/train/*
datasets/nucleisegmentation_pannuke/valid/*
datasets/nucleisegmentation_pannuke/orig/*
results/tests/*
src/tests/
src/old/
.ipynb_checkpoints
