*.pyc
__pycache__
datasets/patches/hdf5/kumar/*
datasets/patches/hdf5/consep/*
datasets/patches/hdf5/pannuke/*
datasets/patches/npy/kumar/*
datasets/patches/npy/consep/*
datasets/patches/npy/pannuke/*
datasets/patches/zarr/*
datasets/patches/tests/*
datasets/data/kumar/*
datasets/data/consep/*
datasets/data/pannuke/*
datasets/data/ovca/*
datasets/data/monusac/*
datasets/data/sartorius/*
results/tests/*
results/*
src/tests/
src/old/
src/deprecated/
notebooks/tests/
.ipynb_checkpoints
.DS_Store
README.txt
Dippa.egg-info
DippaEnv
wandb
.vscode
Dockerfile
.dockerignore
docker-compose.yml
.github
.tox
train.sh
infer.sh