*.pyc
__pycache__
patches/hdf5/*
patches/npy/*
datasets/nucleisegmentation_kumar/*
datasets/nucleisegmentation_consep/*
datasets/nucleisegmentation_pannuke/*
results/*
src/tests/
src/old/
.ipynb_checkpoints
