tables==3.4.2
numpy==1.18.4
pandas==1.1.2
torch==1.6.0
scipy==1.4.1
opencv-python==4.2.0.32
matplotlib==3.2.1
scikit-image==0.17.2
scikit-learn==0.22.1
omegaconf==2.0.2
catalyst==20.6
ttach==0.0.2
segmentation-models-pytorch==0.1.0
pytorch-lightning==0.8.5
albumentations==0.4.3
pathos==0.2.6
dataclasses==0.7
ray==0.8.7
test-tube==0.7.5
-e ./